
html,body {
    height: 100%;
    margin: 0;
    background-color: #2B2C2A;
    font-family: 'Monda', sans-serif;
    font-weight: 700;
}

.container {
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1600px;
}

.greybox {
    background-color: #C4C4C4;
    padding-bottom: 70px;
    box-shadow: 0px 0px 175px 3px #4f5359;
}

.heading {
    font-size: 40px;
    color: white;
    font-style: normal;
    letter-spacing: 1.5px;
    text-align: center;
}
/* Меню */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: #3C4C84;

}
.logo {
}
.logo-img {
    width: 170px;
    
}
.menu-text-wrapper {
    display: flex;
    flex-direction: column
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top:0;
    max-width: 1200px;
    min-width: 1050px;
}
.nav{
   /* width: 900px; */
}
.menu-link {
    display: block;
    text-decoration: none;
    background-color: #2B2C2A;
    font-size: 20px;
    color: white;
    padding: 15px 65px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-link:hover{
    background-color: #0A0A20;
    transition: 0.2s;
    color: white;
}
.menu-list{
    list-style: none;
}

.drop {
    position: relative;
    display: inline-block;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: black;
    padding: 8px 30px;
    width: 170px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.drop-content a:hover {background-color: #ddd;}

.drop:hover .drop-content {display: block;}
.active{
    background-color:#e6f0f0;
    color: #2B2C2A;
}
/* Конец меню */

.content h1 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 35px;
    font-weight: 700;   
}

.slider_item img{
    width: 100%;    
    height: 615px;
}

footer {
    padding-bottom: 50px;
}

footer p {
    text-align: center;
    font-size: 26px;
    line-height: auto;
    color: white;
    font-weight:100;
}


footer .icon {
    width: 100px;
    height: 100px;
    margin-top: 70px; 
    margin-left: 18px;
}

.icon:hover {
    cursor: pointer;
}

footer {
    padding-bottom: 50px;
}

footer p {
    text-align: center;
    font-size: 26px;
    line-height: auto;
    color: white;
    font-weight:100;
}


footer .icon {
    width: 100px;
    height: 100px;
    margin-top: 70px; 
    margin-left: 18px;
}

.icon:hover {
    cursor: pointer;
}


/* Слайдер */
.slick-slider{
     

}   
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
    
/* Точки (булиты) */
.slick-dots{}.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

/*Конкретный слайдер*/
.slider {
    position: relative;
     box-shadow: 0px 0px 22px black;
     max-width: 80%;
    margin: 0 auto;
}


.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    height: 67px;
    width: 67px;
    margin-top: -40px;
    opacity: 85%;
    border: 0;
    
}

.slider .slick-arrow:hover{
    opacity: 100%;
    cursor: pointer;
}

.slider .slick-arrow.slick-prev{
left: 1.5%;
background: url(slider_arrows/prev.png) 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
right: 1.5%;
background: url(slider_arrows/next.png) 0 0 / 100% no-repeat;

}

.slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3%;
    left:0;
    right: 0;
       margin-bottom: 0;
}
.slider .slick-dots li{
    margin-left: 0px;
    margin-right: 26px;
    list-style: none;
    opacity: 85%;
}
.slider .slick-dots button{
    font-size: 0;
    width: 25px;
    height: 25px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
    
.slider .slick-dots button:hover{
    cursor: pointer;
}

.slider .slick-dots li.slick-active button{
    background-color: white;
}


@media (max-width: 1780px) {
        /* Меню */
.heading{
    font-size: 37px;
    letter-spacing: 1.1px;
}

.menu {
    padding: 8px 40px;
}
.logo-img {
    width: 165px;
}
    .nav-wrapper {
    max-width: 951px;
    min-width: 950px;
}
}

@media (max-width: 1650px) {
    .container {
    padding-left: 175px;
    padding-right: 175px;
    max-width: 1600px;
}

        /* Меню */
.heading{
    font-size: 36px;
    letter-spacing: 1.3px;
}

.menu {
    padding: 8px 35px;
}
.nav-wrapper {
    max-width: 951px;
    min-width: 900px;
}
.logo-img {
    width: 160px;
}

.menu-link {
    font-size: 18px;
    padding: 15px 55px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 8px 30px;
    width: 160px;
    font-size: 17px;
}
/* Конец меню */
    
    
    .slider_item img{
    width: 100%;    
        height: 525px;}
}


@media (max-width: 1550px) {
        /* Меню */
.heading{
    font-size: 34px;
    letter-spacing: 1.1px;
}

.menu {
    padding: 8px 10px;
}
.logo-img {
    width: 155px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width:850px;
}

.menu-link {
    font-size: 17px;
    padding: 13px 53px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 8px 30px;
    width: 160px;
    font-size: 16px;
}
/* Конец меню */
.content h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}    
    
.slider {
    position: relative;
     box-shadow: 0px 0px 22px black;
     max-width: 77%;
}    
    
.slider_item img{
    width: 100%;    
    height: 430px;
}
    
.slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2%;
    left:0;
    right: 0;
}
.slider .slick-dots li{
    margin-left: 0px;
    margin-right: 20px;
    list-style: none;
    opacity: 85%;
}
.slider .slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
    
footer .icon {
        width: 85px;
        height: 85px;
        margin-top: 30px;
}
}





@media (max-width: 1460px) {
    .container {
    padding-left: 130px;
    padding-right: 130px;
    max-width: 1400px;
}
           /* Меню */
.heading{
    font-size: 30px;
    letter-spacing: 1.0px;
}

.menu {
    padding: 5px 50px;
}
.logo-img {
    width: 140px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 800px;
}

.menu-link {
    font-size: 16px;
    padding: 13px 50px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */
.content h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 28px;
}    

.slider {
    position: relative;
     box-shadow: 0px 0px 22px black;
     max-width: 77%;
}      
    
.slider_item img{
    width: 100%;    
    height: 420px;
}

footer .icon {
        width: 65px;
        height: 65px;
        margin-top: 20px;
    }  
    
    footer p {
        font-size: 20px;
        line-height: 20px;
    }
    
    footer {
        padding-bottom: 20px;
    }
}

@media (max-width: 1330px) {
    
     /* Меню */
.heading{
    font-size: 26px;
    letter-spacing: 1.0px;
}

.menu {
    padding: 0px 65px;
}
.logo-img {
    width: 120px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 720px;
}

.menu-link {
    font-size: 14px;
    padding: 12px 46px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */

.content h1 {
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 26px;
}       

}

@media (max-width: 1260px) {
    .container {
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1600px;
}
     /* Меню */
.heading{
    font-size: 25px;
    letter-spacing: 1.0px;
}

.menu {
    padding: 0px 55px;
    padding-bottom: 5px;
}
.logo-img {
    width: 130px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 700px;
}

.menu-link {
    font-size: 13px;
    padding: 12px 45px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */
.content h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}     

    .slider_item img{
    width: 100%;    
    height: 330px;
}
.slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3%;
    margin-bottom: 0;
    left:0;
    right: 0;
}
.slider .slick-dots li{
    margin-left: 0px;
    margin-right: 15px;
    list-style: none;
    opacity: 85%;
}
.slider .slick-dots button{
    font-size: 0;
    width: 12px;
    height: 16px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
}

@media (max-width: 1190px) {
    
     /* Меню */
.heading{
    font-size: 25px;
    letter-spacing: 0.8px;
}

.menu {
    padding: 0px 45px;
}
.logo-img {
    width: 120px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 670px;
}

.menu-link {
    font-size: 14px;
    padding: 11px 40px;
}

.drop-content {
    min-width: 120px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
    /* Конец меню */}

@media (max-width: 1130px) {
    .container {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1600px;
}
     /* Меню */
.heading{
    font-size: 24px;
    letter-spacing: 0.7px;
}

.menu {
    padding: 0px 35px;
}
.logo-img {
    width: 110px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 650px;
}

.menu-link {
    font-size: 13px;
    padding: 10px 40px;
}

.drop-content {
    min-width: 120px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */
}


@media (max-width: 1024px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    /*Menu*/
    
    .heading{
        font-size: 30px;
        margin-bottom: 5px;
    }    
    
    .logo-img {
        display: none;
    }
    
    .menu-link{
        padding: 15px 40px;
        font-size: 20px;
    }
    .nav-wrapper {
        min-width:800px;
    }
    
.menu {
    padding: 0px 0px;
    justify-content: center;
}
    /* Конец меню */
.content h1 {
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 27px;
}         
    
    .slider {
    position: relative;
     box-shadow: 0px 0px 22px black;
     max-width: 74%;
}    
    
.slider_item img{
    width: 100%;    
    height: 360px;
}
    
.slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3%;
    margin-bottom: 0;
    left:0;
    right: 0;
}
.slider .slick-dots li{
    margin-left: 0px;
    margin-right: 10px;
    list-style: none;
    opacity: 85%;
}
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 15px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
    
    .slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    height: 57px;
    width: 57px;
    margin-top: -40px;
    opacity: 80%;
    border: 0;
    
}
    
footer {
    padding-bottom: 30px;
}

footer p {
    text-align: center;
    font-size: 20px;
    line-height: auto;
    color: white;
    font-weight:100;
}


footer .icon {
    width: 70px;
    height: 70px;
    margin-top: 35px; 
    margin-left: 16px;
}
    
}

@media (max-width: 1024px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    /*Menu*/
    
    .heading{
        font-size: 28px;
        margin-bottom: 5px;
    }    
    
    .logo-img {
        display: none;
    }
    
    .menu-link{
        padding: 15px 30px;
        font-size: 20px;
    }
    .nav-wrapper {
        min-width:690px;
    }
    
    /* Конец меню */
    .slider {
    position: relative;
     box-shadow: 0px 0px 22px black;
     max-width: 86%;
}    
    
.slider_item img{
    width: 100%;    
    height: 370px;
}
   
}

@media (max-width: 768px) {
    .container {
    padding-left: 0px;
    padding-right: 0px;
}
     /* Меню */
.heading{
    font-size: 29px;
    letter-spacing: 0.4px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.menu {
    padding: 0px 0px;
    justify-content:center;
}
.logo-img {
    width:115px;
    display: none;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 17px;
}

    .menu-link{
        padding: 20px 26px;
        font-size: 18px;
    }
    .nav-wrapper {
        min-width: 640px;   
    }
    
/* Конец меню */
    .content h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
}  
    .slider {
    position: relative;
     box-shadow: 0px 0px 22px black;
     max-width: 90%;
}    
    
.slider_item img{
    width: 100%;    
    height: 340px;
}
    
.slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3%;
    margin-bottom: 0;
    left:0;
    right: 0;
}
.slider .slick-dots li{
    margin-left: 0px;
    margin-right: 20px;
    list-style: none;
    opacity: 85%;
}
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 15px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
    
    .slider .slick-arrow{
    position: absolute;
    top: 55%;
    z-index: 10;
    font-size: 0;
    height: 50px;
    width: 50px;
    margin-top: -40px;
    opacity: 80%;
    border: 0;
    
}
    
}

@media (max-width: 661px) {
     /* Меню */
.heading{
    font-size: 27px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.menu {
    padding: 0px 0px;
    justify-content:center;
}
.logo-img {
    width:115px;
    display: none;
}

    .menu-link{
        padding: 18px 22px;
        font-size: 18px;
    }
    .nav-wrapper {
        min-width: 550px;   
    }
    
/* Конец меню */
    .content h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 23px;
}  
    .slider {
    position: relative;
     box-shadow: 0px 0px 22px black;
     max-width: 88%;
}    
    
.slider_item img{
    width: 100%;    
    height: 320px;
}
    
.slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3%;
    margin-bottom: 0;
    left:0;
    right: 0;
}
.slider .slick-dots li{
    margin-left: 0px;
    margin-right: 20px;
    list-style: none;
    opacity: 85%;
}
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 15px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
    
    .slider .slick-arrow{
    position: absolute;
    top: 55%;
    z-index: 10;
    font-size: 0;
    height: 50px;
    width: 50px;
    margin-top: -40px;
    opacity: 80%;
    border: 0;
    
}
    
}

@media (max-width: 500px) {
     /* Меню */
.heading{
    font-size: 24px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.3;
}

.menu {
    padding: 0px 0px;
    justify-content:center;
}
.logo-img {
    width:115px;
    display: none;
}

    .menu-link{
        padding: 20px 5px;
        font-size: 20px;
    }
    .nav-wrapper {
        min-width: 300px;   
    }
    
/* Конец меню */
    .content h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
}  
    .slider {
    position: relative;
     box-shadow: 0px 0px 22px black;
     max-width: 100%;
}    
    
.slider_item img{
    width: 100%;    
    height: 260px;
}
    
    footer .icon {
        width: 50px;
        height: 50px;
        margin-top: 0;
    }
}

@media (max-width: 450px) {
     /* Меню */
.heading{
    font-size: 24px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.3;
}

.menu {
    padding: 0px 0px;
    justify-content:center;
}
.logo-img {
    width:115px;
    display: none;
}

    .menu-link{
        padding: 20px 5px;
        font-size: 18px;
    }
    .nav-wrapper {
        min-width: 300px;   
    }
    
/* Конец меню */
     @media (max-width: 400px) {
     /* Меню */
.heading{
    font-size: 20px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.3;
}

.menu {
    padding: 0px 0px;
    justify-content:center;
}
.logo-img {
    width:115px;
    display: none;
}

    .menu-link{
        padding: 20px 5px;
        font-size: 14px;
    }
    .nav-wrapper {
        min-width: 300px;   
        margin-bottom: 10px;
    }
        
        .slider img {
            height: 240px;
        }
        
    .slider .slick-dots li{
    margin-left: 0px;
    margin-right: 30px;
    list-style: none;
    opacity: 85%;
}
    
/* Конец меню */