
html,body {
    height: 100%;
    margin: 0;
    background-color: #2B2C2A;
    font-family: 'Monda', sans-serif;
    font-weight: 700;
}

.container {
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1600px;
}

.greybox {
    background-color: #C4C4C4;
    padding-bottom: 70px;
    box-shadow: 0px 0px 175px 3px #4f5359;
}

li {
    font-size: 21px;
    line-height: 2;
}

.heading {
    font-size: 40px;
    color: white;
    font-style: normal;
    letter-spacing: 1.5px;
    text-align: center;
}
/* Меню */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: #3C4C84;

}
.logo {
}
.logo-img {
    width: 170px;
    
}
.menu-text-wrapper {
    display: flex;
    flex-direction: column
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top:0;
    max-width: 1200px;
    min-width: 1050px;
}
.nav{
   /* width: 900px; */
}
.menu-link {
    display: block;
    text-decoration: none;
    background-color: #2B2C2A;
    font-size: 20px;
    color: white;
    padding: 15px 65px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 1.7;
}
.menu-link:hover{
    background-color: #0A0A20;
    transition: 0.2s;
    color: white;
}
.menu-list{
    list-style: none;
}

.drop {
    position: relative;
    display: inline-block;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: black;
    padding: 8px 30px;
    width: 170px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.drop-content a:hover {background-color: #ddd;}

.drop:hover .drop-content {display: block;}
.active{
    background-color:#e6f0f0;
    color: #2B2C2A;
}
/* Конец меню */


.image {
    position: relative;
    width: 100.7%;
    margin-left: -5px;
    height: 45%;
    opacity: 80%;
}

.info1 {
    margin-top: -30px;
    padding-top: 75px;
    padding-left: 100px;
    background-color: #C4C4C4;
}

h2{
    font-size: 30px;
}

.info1 h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 0;
    margin-left: -50px;
    margin-bottom: 60px;
}

.underphototext{
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0px;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.auditory {
    text-align: center;
    margin-bottom:120px;
}

.discipline_work {
      padding-left: 100px;
}

footer {
    padding-bottom: 50px;
}

footer {
    padding-bottom: 50px;
}

footer p {
    text-align: center;
    font-size: 26px;
    line-height: auto;
    color: white;
    font-weight:100;
}


footer .icon {
    width: 100px;
    height: 100px;
    margin-top: 70px; 
    margin-left: 18px;
}

.icon:hover {
    cursor: pointer;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}

/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{
}
/* Слайд основной */
.slick-slide.slick-current{
}
/* Слайд по центру */
.slick-slide.slick-center{
}
/* Клонированный слайд */
.slick-slide.slick-cloned{
}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки (булиты) */
.slick-dots{}.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

/*Конкретный слайдер*/
.slider {
    position: relative;
    max-width:1300px;
    margin: 0px auto;
    height: 600px;
}

.slider .slick-arrow{
    position: absolute;
    top: 46%;
    z-index: 10;
    font-size: 0;
    height: 67px;
    width: 67px;
    margin-top: -40px;
    opacity: 85%;
}

.slider .slick-arrow:hover{
    opacity: 100%;
    cursor: pointer;
}

.slider .slick-arrow.slick-prev{
left: 1.5%;
background: url(../images/slider_arrows/prev.png) 0 0 / 100% no-repeat;
    border: 0;
}

.slider .slick-arrow.slick-next{
right: 1.5%;
background: url(../images/slider_arrows/next.png) 0 0 / 100% no-repeat;
    border: 0;
}

.slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left:0;
    right: 0;
}
.slider .slick-dots li{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    opacity: 85%;
}
.slider .slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
    
.slider .slick-dots button:hover{
    cursor: pointer;
}

.slider .slick-dots li.slick-active button{
    background-color: white;
}

.slider_item {
    text-align: center;
}
.slick-slide {
padding-top: 60px;
}
.slick-center {
  padding-top:0;
}
.slick-center img {
 max-height: 560px;
    width: 380px;
}

.ph {
max-height: 440px;
    width: 298px;
}

@media (max-width: 1780px) {
        /* Меню */
.heading{
    font-size: 37px;
    letter-spacing: 1.1px;
}

.menu {
    padding: 8px 40px;
}
.logo-img {
    width: 165px;
}
    .nav-wrapper {
    max-width: 951px;
    min-width: 950px;
}
}

@media (max-width: 1650px) {
    .container {
    padding-left: 175px;
    padding-right: 175px;
    max-width: 1600px;
}

        /* Меню */
.heading{
    font-size: 36px;
    letter-spacing: 1.3px;
}

.menu {
    padding: 8px 35px;
}
.nav-wrapper {
    max-width: 951px;
    min-width: 900px;
}
.logo-img {
    width: 160px;
}

.menu-link {
    font-size: 18px;
    padding: 15px 55px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 8px 30px;
    width: 160px;
    font-size: 17px;
}
/* Конец меню */
    
    
.image {
    position: relative;
    width: 100.7%;
    margin-left: -5px;
    height: 32%;
}
    
 /*Конкретный слайдер*/
.slider {
    max-width:1230px;
    height: 600px;
}

.slider .slick-arrow{
    top: 45%;
    height: 67px;
    width: 67px;
    margin-top: -40px;
}

.slider .slick-arrow.slick-prev{
left: 1.5%;
}

.slider .slick-arrow.slick-next{
right: 1.5%;
}

.slider .slick-dots {
    bottom: 5%;
}
.slider .slick-dots li{
    margin-left: 10px;
    margin-right: 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
}
    
.slick-slide {
padding-top: 60px;
}
.slick-center {
  padding-top:0;
}
.slick-center img {
 max-height: 560px;
    width: 380px;
}

.ph {
max-height: 420px;
    width: 270px;
}   
  .info1 {
    margin-top: -30px;
    padding-top: 75px;
    padding-left: 60px;
}
    .discipline_work {
        padding-left: 60px;
    }
}




@media (max-width: 1550px) {
        /* Меню */
.heading{
    font-size: 34px;
    letter-spacing: 1.1px;
}

.menu {
    padding: 8px 10px;
}
.logo-img {
    width: 155px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width:850px;
}

.menu-link {
    font-size: 17px;
    padding: 13px 53px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 8px 30px;
    width: 160px;
    font-size: 16px;
}
/* Конец меню */
    
.image {
    width: 100.7%;
    margin-left: -4px;
    height: 26%;
}
    
 /*Конкретный слайдер*/
.slider {
    max-width:1130px;
    height: 540px;
}

.slider .slick-arrow{
    top: 43%;
    height: 67px;
    width: 67px;
    margin-top: -40px;
}

.slider .slick-arrow.slick-prev{
left: 1.5%;
}

.slider .slick-arrow.slick-next{
right: 1.5%;
}

.slider .slick-dots {
    bottom: 5%;
}
.slider .slick-dots li{
    margin-left: 10px;
    margin-right: 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
}
    
.slick-slide {
padding-top: 60px;
}
.slick-center {
  padding-top:0;
}
.slick-center img {
 max-height: 520px;
    width: 360px;
}

.ph {
max-height: 420px;
    width: 240px;
} 
    
  .info1 {
    margin-top: -30px;
    padding-top: 60px;
    padding-left: 50px;
}
h2 {
    font-size: 24px;
}
    
li {
    font-size: 18px;
}
    
    .info1 h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 40px;
}  
    
    .underphototext {
        font-size: 24px;
    }
    
    .discipline_work {
        padding-left: 50px;
    } 
    
    footer .icon {
        width: 85px;
        height: 85px;
        margin-top: 30px;
    }
}



@media (max-width: 1460px) {
    .container {
    padding-left: 130px;
    padding-right: 130px;
    max-width: 1400px;
}
           /* Меню */
.heading{
    font-size: 30px;
    letter-spacing: 1.0px;
}

.menu {
    padding: 5px 50px;
}
.logo-img {
    width: 140px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 800px;
}

.menu-link {
    font-size: 16px;
    padding: 13px 50px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */
    
    
.image {
    width: 100.6%;
    margin-left: -3px;
    height: 32%;
}
    
 /*Конкретный слайдер*/
.slider {
    max-width:950px;
    height: 400px;
}

.slider .slick-arrow{
    top: 50%;
    height: 57px;
    width: 57px;
    margin-top: -40px;
}

.slider .slick-arrow.slick-prev{
left: 1.3%;
}

.slider .slick-arrow.slick-next{
right: 1.3%;
}

.slider .slick-dots {
    bottom: 5%;
}
.slider .slick-dots li{
    margin-left: 10px;
    margin-right: 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
}
    
.slick-slide {
padding-top: 60px;
}
.slick-center {
  padding-top:0;
}
.slick-center img {
 max-height: 420px;
    width: 260px;
}

.ph {
max-height: 360px;
    width: 180px;
} 
    .info1 {
    margin-top: 0px;
    padding-top: 30px;
    padding-left: 20px;
}
    
    .info1 h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 40px;
}
    
h2 {
    font-size: 20px;
}
    
li {
    font-size: 16px;
}
    
    .info1 h1 {
    text-align: center;
    font-size: 26px;
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 40px;
}  
    .underphototext {
        font-size: 22px;
        line-height: 34px;
         margin-top: 30px;
        margin-bottom: 30px;
    }
    
    
    .auditory img{
        max-width: 800px;
    }
    
.discipline_work {
        padding-left: 20px;
    } 
footer .icon {
        width: 65px;
        height: 65px;
        margin-top: 20px;
    }  
    
    footer p {
        font-size: 20px;
        line-height: 20px;
    }
    
    footer {
        padding-bottom: 20px;
    }
}

@media (max-width: 1330px) {
    
     /* Меню */
.heading{
    font-size: 26px;
    letter-spacing: 1.0px;
}

.menu {
    padding: 0px 65px;
}
.logo-img {
    width: 120px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 720px;
}

.menu-link {
    font-size: 14px;
    padding: 12px 46px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */
}


@media (max-width: 1260px) {
    .container {
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1600px;
}
     /* Меню */
.heading{
    font-size: 25px;
    letter-spacing: 1.0px;
}

.menu {
    padding: 0px 55px;
    padding-bottom: 5px;
}
.logo-img {
    width: 130px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 700px;
}

.menu-link {
    font-size: 13px;
    padding: 12px 45px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */
    
    
.image {
    width: 100.6%;
    margin-left: -3px;
    height: 32%;
}
    
 /*Конкретный слайдер*/
.slider {
    max-width:800px;
    height: 400px;
}

.slider .slick-arrow{
    top: 44%;
    height: 57px;
    width: 57px;
    margin-top: -40px;
}

.slider .slick-arrow.slick-prev{
left: 1.3%;
}

.slider .slick-arrow.slick-next{
right: 1.3%;
}

.slider .slick-dots {
    bottom: 5%;
}
.slider .slick-dots li{
    margin-left: 10px;
    margin-right: 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
}
    
.slick-slide {
padding-top: 60px;
}
.slick-center {
  padding-top:0;
}
.slick-center img {
 max-height: 400px;
    width: 250px;
}

.ph {
max-height: 340px;
    width: 160px;
} 
.auditory img {
    max-width: 700;
}
    
.underphototext {
    font-size: 20px;
}
}

@media (max-width: 1190px) {
    
     /* Меню */
.heading{
    font-size: 25px;
    letter-spacing: 0.8px;
}

.menu {
    padding: 0px 45px;
}
.logo-img {
    width: 120px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 670px;
}

.menu-link {
    font-size: 14px;
    padding: 11px 40px;
}

.drop-content {
    min-width: 120px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
    /* Конец меню */}

@media (max-width: 1130px) {
    .container {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1600px;
}
     /* Меню */
.heading{
    font-size: 24px;
    letter-spacing: 0.7px;
}

.menu {
    padding: 0px 35px;
}
.logo-img {
    width: 110px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 650px;
}

.menu-link {
    font-size: 13px;
    padding: 10px 40px;
}

.drop-content {
    min-width: 120px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */
}


@media (max-width: 1024px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    /*Menu*/
    .menu-link{
        padding: 13px 45px;
    }
    .nav-wrapper {
        min-width: 650px;
    }
    
.menu {
    padding: 0px 45px;
}
    /* Конец меню */
    
     .info1 {
    padding-top: 5px;
    padding-left: 30px;
    background-color: #C4C4C4;
}
    
    .info1 h2{
    font-size: 21px;
}

li {
    font-size: 15px;
}

.info1 h1 {
    font-size: 24px;
    margin-bottom: 50px; 
    
}

.underphototext{
    font-size: 18px;
}

    .image {
    width: 100.6%;
    margin-left: -3px;
    height: 43%;
}
    .slider {
    position: relative;
    max-width: 974px;
    margin: 0px auto;
    height: 400px;
}
    .slick-slide {
padding-top: 60px;
}
.slick-center {
  padding-top:0;
}
.slick-center img {
 max-height: 370px;
    width: 255px;
}

.ph {
max-height: 270px;
    width: 188px;
}
    .slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    height: 57px;
    width: 57px;
    margin-top: -40px;
    opacity: 85%;
}
    .auditory {
    text-align: center;
    margin-bottom:60px;
}
    .auditory_img {
        width: 824px;
    }
    footer {
    padding-bottom: 30px;
}

footer p {
    text-align: center;
    font-size: 20px;
    line-height: auto;
    color: white;
    font-weight:100;
}


footer .icon {
    width: 70px;
    height: 70px;
    margin-top: 35px; 
    margin-left: 16px;
}
    
}

@media (max-width: 768px) {
    .container {
    padding-left: 20px;
    padding-right: 20px;
}
     /* Меню */
.heading{
    font-size: 22px;
    letter-spacing: 1.0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    padding: 0px 10px;
}
.logo-img {
    width: 115px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}

    .menu-link{
        padding: 15px 30px;
        font-size: 14px;
    }
    .nav-wrapper {
        min-width: 560px;   
    }
    
/* Конец меню */
    .menu-link{
        padding: 15px 30px;
        font-size: 14px;
    }
    .nav-wrapper {
        min-width: 560px;   
    }
    
     .info1 {
    padding-top: 5px;
    padding-left: 30px;
    background-color: #C4C4C4;
}
    
h2{
    font-size: 18px;
     letter-spacing: 0;
}

li {
    font-size: 14px;
}

.info1 h1 {
    font-size: 20px;
    margin-bottom: 35px; 
    
}

.underphototext{
    font-size: 17px;
    line-height: 1.5;
}

    .image {
    width: 100.6%;
    margin-left: -2px;
    height: 170px;
}
    .slider {
    position: relative;
    max-width: 710px;
    margin: 0px auto;
    height: 300px;
}
    .slick-slide {
padding-top: 40px;
}
.slick-center {
  padding-top:0;
}
.slick-center img {
 max-height: 300px;
    width: 200px;
}

.slick-track{
    display: flex;
    align-items: flex-start;
}
    
.ph {
max-height: 220px;
    width: 140px;
}
    .slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    height: 55px;
    width: 55px;
    margin-top: -40px;
    opacity: 85%;
}
    
.slider .slick-arrow.slick-prev{
left: 2.9%;
}

.slider .slick-arrow.slick-next{
right: 2.9%;
}    
    
    .auditory {
    text-align: center;
    margin-bottom:60px;
}
    .auditory_img {
        width: 554px;
    }
    footer {
    padding-bottom: 30px;
}

footer p {
    text-align: center;
    font-size: 17px;
    line-height: 0.1;
    color: white;
    font-weight:100;
}


footer .icon {
    width: 60px;
    height: 60px;
    margin-top: 5px; 
    margin-left: 16px;
}
}

