

html,body {
    height: 100%;
    margin: 0;
    background-color: #2B2C2A;
    font-family: 'Monda', sans-serif;
    font-weight: 700;
}

.container {
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1600px;
}

.greybox {
    background-color: #C4C4C4;
    padding-bottom: 70px;
    box-shadow: 0px 0px 175px 3px #4f5359;
}

/* Меню */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: #3C4C84;

}
.logo {
}
.logo-img {
    width: 170px;
    
}
.menu-text-wrapper {
    display: flex;
    flex-direction: column
}

.heading {
    font-size: 40px;
    color: white;
    font-style: normal;
    letter-spacing: 1.5px;
    text-align: center;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top:0;
    max-width: 1200px;
    min-width: 1050px;
}
.nav{
   /* width: 900px; */
}
.menu-link {
    display: block;
    text-decoration: none;
    background-color: #2B2C2A;
    font-size: 20px;
    color: white;
    padding: 15px 65px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-link:hover{
    background-color: #0A0A20;
    transition: 0.2s;
    color: white;
}
.menu-list{
    list-style: none;
}

.drop {
    position: relative;
    display: inline-block;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: black;
    padding: 8px 30px;
    width: 170px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.drop-content a:hover {background-color: #ddd;}

.drop:hover .drop-content {display: block;}

.active{
    background-color:#e6f0f0;
    color: #2B2C2A;
}
/* Конец меню */

footer {
    padding-bottom: 50px;
}

footer p {
    text-align: center;
    font-size: 26px;
    line-height: auto;
    color: white;
    font-weight:100;
}


footer .icon {
    width: 100px;
    height: 100px;
    margin-top: 70px; 
    margin-left: 18px;
}

.icon:hover {
    cursor: pointer;
}

footer {
    padding-bottom: 50px;
}

footer p {
    text-align: center;
    font-size: 26px;
    line-height: auto;
    color: white;
    font-weight:100;
}


footer .icon {
    width: 100px;
    height: 100px;
    margin-top: 70px; 
    margin-left: 18px;
}

.icon:hover {
    cursor: pointer;
}

@media (max-width: 1780px) {
        /* Меню */
.heading{
    font-size: 37px;
    letter-spacing: 1.1px;
}

.menu {
    padding: 8px 40px;
}
.logo-img {
    width: 165px;
}
    .nav-wrapper {
    max-width: 951px;
    min-width: 950px;
}
}

@media (max-width: 1650px) {
    .container {
    padding-left: 175px;
    padding-right: 175px;
    max-width: 1600px;
}

        /* Меню */
.heading{
    font-size: 36px;
    letter-spacing: 1.3px;
}

.menu {
    padding: 8px 35px;
}
.nav-wrapper {
    max-width: 951px;
    min-width: 900px;
}
.logo-img {
    width: 160px;
}

.menu-link {
    font-size: 18px;
    padding: 15px 55px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 8px 30px;
    width: 160px;
    font-size: 17px;
}
/* Конец меню */
}




@media (max-width: 1550px) {
        /* Меню */
.heading{
    font-size: 34px;
    letter-spacing: 1.1px;
}

.menu {
    padding: 8px 10px;
}
.logo-img {
    width: 155px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width:850px;
}

.menu-link {
    font-size: 17px;
    padding: 13px 53px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 8px 30px;
    width: 160px;
    font-size: 16px;
}
/* Конец меню */
    
    footer .icon {
        width: 85px;
        height: 85px;
        margin-top: 30px;
    }
}




@media (max-width: 1460px) {
    .container {
    padding-left: 130px;
    padding-right: 130px;
    max-width: 1400px;
}
           /* Меню */
.heading{
    font-size: 30px;
    letter-spacing: 1.0px;
}

.menu {
    padding: 5px 50px;
}
.logo-img {
    width: 140px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 800px;
}

.menu-link {
    font-size: 16px;
    padding: 13px 50px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */

footer .icon {
        width: 65px;
        height: 65px;
        margin-top: 20px;
    }  
    
    footer p {
        font-size: 20px;
        line-height: 20px;
    }
    
    footer {
        padding-bottom: 20px;
    }
}

@media (max-width: 1330px) {
    
     /* Меню */
.heading{
    font-size: 26px;
    letter-spacing: 1.0px;
}

.menu {
    padding: 0px 65px;
}
.logo-img {
    width: 120px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 720px;
}

.menu-link {
    font-size: 14px;
    padding: 12px 46px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */
}

@media (max-width: 1260px) {
    .container {
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1600px;
}
     /* Меню */
.heading{
    font-size: 25px;
    letter-spacing: 1.0px;
}

.menu {
    padding: 0px 55px;
    padding-bottom: 5px;
}
.logo-img {
    width: 130px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 700px;
}

.menu-link {
    font-size: 13px;
    padding: 12px 45px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */
}

@media (max-width: 1190px) {
    
     /* Меню */
.heading{
    font-size: 25px;
    letter-spacing: 0.8px;
}

.menu {
    padding: 0px 45px;
}
.logo-img {
    width: 120px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 670px;
}

.menu-link {
    font-size: 14px;
    padding: 11px 40px;
}

.drop-content {
    min-width: 120px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */
}

@media (max-width: 1130px) {
    .container {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1600px;
}
     /* Меню */
.heading{
    font-size: 24px;
    letter-spacing: 0.7px;
}

.menu {
    padding: 0px 35px;
}
.logo-img {
    width: 110px;
}
    
.nav-wrapper {
    max-width: 951px;
    min-width: 650px;
}

.menu-link {
    font-size: 13px;
    padding: 10px 40px;
}

.drop-content {
    min-width: 120px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}
/* Конец меню */
}


@media (max-width: 1024px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    /*Menu*/
    .menu-link{
        padding: 13px 45px;
    }
    .nav-wrapper {
        min-width: 650px;
    }
    
.menu {
    padding: 0px 45px;
}
    /* Конец меню */
footer {
    padding-bottom: 30px;
}

footer p {
    text-align: center;
    font-size: 20px;
    line-height: auto;
    color: white;
    font-weight:100;
}


footer .icon {
    width: 70px;
    height: 70px;
    margin-top: 35px; 
    margin-left: 16px;
}
    
}

@media (max-width: 768px) {
    .container {
    padding-left: 20px;
    padding-right: 20px;
}
     /* Меню */
.heading{
    font-size: 22px;
    letter-spacing: 1.0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    padding: 0px 10px;
}
.logo-img {
    width: 115px;
}

.drop-content {
    min-width: 140px;
}

.drop-content a {
    padding: 4px 15px;
    width: 140px;
    font-size: 14px;
}

    .menu-link{
        padding: 15px 30px;
        font-size: 14px;
    }
    .nav-wrapper {
        min-width: 560px;   
    }
    
/* Конец меню */

    footer {
    padding-bottom: 30px;
}

footer p {
    text-align: center;
    font-size: 17px;
    line-height: 0.1;
    color: white;
    font-weight:100;
}


footer .icon {
    width: 60px;
    height: 60px;
    margin-top: 5px; 
    margin-left: 16px;
}
}